/* todo: change colors */

.item {
  height: 50%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 0% 100%;
  width: 50%;
}

.item:first-child .text {
  background-color: violet;
}

.item:nth-child(2) .text {
  background-color: indigo;
}

.item:nth-child(3) .text {
  background-color: blue;
}

.item:nth-child(4) .text {
  background-color: green;
}

.item:nth-child(5) .text {
  background-color: yellow;
}

.item:nth-child(6) .text {
  background-color: orange;
}

.item:nth-child(7) .text {
  background-color: red;
}

.item:nth-child(8) .text {
  background-color: pink;
}

.item:nth-child(9) .text {
  background-color: cyan;
}

.item:nth-child(10) .text {
  background-color: lime;
}

.item:nth-child(11) .text {
  background-color: teal;
}

.item:nth-child(12) .text {
  background-color: gold;
}

.item:first-child {
  transform: rotate(0deg) skewY(-60deg);
}

.item:nth-child(2) {
  transform: rotate(30deg) skewY(-60deg);
}

.item:nth-child(3) {
  transform: rotate(60deg) skewY(-60deg);
}

.item:nth-child(4) {
  transform: rotate(90deg) skewY(-60deg);
}

.item:nth-child(5) {
  transform: rotate(120deg) skewY(-60deg);
}

.item:nth-child(6) {
  transform: rotate(150deg) skewY(-60deg);
}

.item:nth-child(7) {
  transform: rotate(180deg) skewY(-60deg);
}

.item:nth-child(8) {
  transform: rotate(210deg) skewY(-60deg);
}

.item:nth-child(9) {
  transform: rotate(240deg) skewY(-60deg);
}

.item:nth-child(10) {
  transform: rotate(270deg) skewY(-60deg);
}

.item:nth-child(11) {
  transform: rotate(300deg) skewY(-60deg);
}

.item:nth-child(12) {
  transform: rotate(330deg) skewY(-60deg);
}

.text {
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: bold;
  height: 200%;
  left: -100%;
  padding-top: 20px;
  position: absolute;
  text-align: center;
  transform: skewY(60deg) rotate(15deg);
  width: 200%;
}

.arrow {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 50px solid black;
  height: 0;
  left: 50%;
  position: absolute;
  top: -20px;
  transform: translateX(-50%);
  width: 0;
  z-index: 1;
}

.circle {
  border: 1px solid black;
  border-radius: 50%;
  height: 25em;
  list-style: none;
  margin: 1em auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: transform 3.5s;
  width: 25em;
}

.spin-button {
  background-color: #76d2f9;
  border-radius: 30px;
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  left: 50%;
  margin-top: 20px;
  outline: none;
  position: absolute;
  transform: translateX(-50%);
  width: 120px;
}

.spin-button:hover {
  background-color: #5e9fe2;
}
