/* todo: change colors */

.item:first-child .text {
  background-color: #c0392b; /* Straight Shot */
}

.item:nth-child(2) .text {
  background-color: #2980b9; /* Spinner's Choice */
}

.item:nth-child(3) .text {
  background-color: #76d7c4; /* Water Break */
}

.item:nth-child(4) .text {
  background-color: #9b59b6; /* Mystery Drink */
}

.item:nth-child(5) .text {
  background-color: #f39c12; /* Mix It Up */
}

.item:nth-child(6) .text {
  background-color: #e74c3c; /* Target */
}

.item:nth-child(7) .text {
  background-color: #3498db; /* Middle */
}

.item:nth-child(8) .text {
  background-color: #1abc9c; /* Bartender's Special */
}

.item:nth-child(9) .text {
  background-color: #f1c40f; /* Add or Take */
}

.item:nth-child(10) .text {
  background-color: #27ae60; /* Generosity */
}

.item:nth-child(11) .text {
  background-color: #ab2783; /* Right Hand */
}

.item:nth-child(12) .text {
  background-color: #ff5722; /* Spinner Drinks */
}

.item:first-child {
  transform: rotate(0deg) skewY(-60deg);
}

.item:nth-child(2) {
  transform: rotate(30deg) skewY(-60deg);
}

.item:nth-child(3) {
  transform: rotate(60deg) skewY(-60deg);
}

.item:nth-child(4) {
  transform: rotate(90deg) skewY(-60deg);
}

.item:nth-child(5) {
  transform: rotate(120deg) skewY(-60deg);
}

.item:nth-child(6) {
  transform: rotate(150deg) skewY(-60deg);
}

.item:nth-child(7) {
  transform: rotate(180deg) skewY(-60deg);
}

.item:nth-child(8) {
  transform: rotate(210deg) skewY(-60deg);
}

.item:nth-child(9) {
  transform: rotate(240deg) skewY(-60deg);
}

.item:nth-child(10) {
  transform: rotate(270deg) skewY(-60deg);
}

.item:nth-child(11) {
  transform: rotate(300deg) skewY(-60deg);
}

.item:nth-child(12) {
  transform: rotate(330deg) skewY(-60deg);
}

.circle {
  border: 3px solid black;
  border-radius: 50%;
  height: 35em;
  list-style: none;
  margin: 1em auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: transform 3.5s;
  width: 35em;
}

.item {
  height: 50%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 0% 100%;
  width: 50%;
}

.text {
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 200%;
  left: -100%;
  padding-top: 20px;
  position: absolute;
  text-align: center;
  transform: skewY(60deg) rotate(15deg);
  width: 200%;
}

.arrow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.spin-button {
  background-color: #76d2f9;
  border-radius: 30px;
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  left: 50%;
  margin-top: 20px;
  outline: none;
  position: absolute;
  transform: translateX(-50%);
  width: 120px;
}

.spin-button:hover {
  background-color: #5e9fe2;
}

.result-container {
  background-color: lightblue;
  padding: 20px;
  margin-top: 90px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 15px;
}

.result-container h2 {
  color: #333;
  font-size: 24px;
  font-weight: 500;
}

.result-container p {
  color: #505050;
  font-size: 18px;
}

.spin-button:disabled {
  cursor: not-allowed;
  animation: pulse 1.5s infinite;
  background-color: #5e9fe2;
}
